twitterTest/config.py
twitterTest/dist/ここにできたexeは一つ上のフォルダに移動する
twitterTest/集計はタスクスケジューラで23：15自動起動
*.sln
*.csv
*.rej
*.jpg
*.pyc
*.toc
*.xlsx
*.txt
*.zip
*.spec
*.pyz
*.html
*.pyproj
*.pkg
*.manifest
*.pyo
